body {
    width: 100%;
}

header {
    padding: 10px;
    background-color: rgb(115, 174, 194); 
}

h1 {
    text-align: center;
}

.search-btn {
    color: #fff;
    background-color: rgb(89, 89, 216);
    border-radius: 5px;
    padding: 5px 40px 5px 40px;
    margin-top: 10px;
    display: block;
    
}

.current-forcast {
 text-align: center;
}

.card {
    display: inline-block;
    float: left;
    padding: 20px;
    text-align: center;
    margin: 10px;
    background-color: grey;
}